<div class="information-profile">
    <span clas="label-hobby">Pasatiempo:</span>
    <span clas="label-age" style="position: absolute; right: 22px;">{{hobby}}</span>

    <span clas="label-age" style="position: absolute; top: 44px;">Edad:</span>
    <span clas="label-age" style="position: absolute; top: 44px;right: 22px;">{{age  +' años'}}</span>

    <span clas="label-age" style="position: absolute; top: 88px;">DUI:</span>
    <span clas="label-age" style="position: absolute; top: 88px; right: 22px;">{{dni}}</span>
</div>
