.information-profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 319px;
    height: 124px;
    left: 213px;
    top: 741px;
}

.label-hobby {
    position: static;
    left: 0px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #4B4B4B;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.label-age{
position: absolute;

top: 44px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #4B4B4B;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}